@media screen and (min-width: 75.5em) {
  .container {
    width: 70%;
    padding-top: 100px;
  }
}
.container {
  text-align: center;
  padding-top: 25px;
  margin: auto;
}
.main {
  margin: auto;
}

.ca a {
  color: #41b883;
}

.us a {
  color: #1202ec;
}
@media (prefers-color-scheme: dark) {
  .us a {
    color: #6358ff;
  }
}

.pure-menu a {
  color: #4f4f4f;
}
