@media screen and (min-width: 75.5em) {
  .container {
    width: 70%;
    padding-top: 100px;

  }
}
.container {
  text-align: center;
  padding-top: 25px;
}
.main {
    margin: auto;
}
p {
  font-size: 20px;
}

a {
  color: #41B883;
}